.tile-container {
  // border: 1px solid black;
  width: 210px;
  height: 100px;
  display: inline-block;
  padding: 10px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  position: relative;
}

.above-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p,
h4 {
  padding-left: 10px;
}

.icon {
  width: 20px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 11px;
}
