.kpi-position {
  width: 70%;
  position: absolute;
  top: 10%;
}

.sunburst-position {
  padding: 10px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  right: 5%;
  top: 10%;
}

.pie-position {
  width: 410px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 1.5%;
}

.stackbar-position {
  width: 500px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 33%;
}

.linechart-position {
  width: 410px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 75%;
  left: 1%;
}

.stackbar-2-position {
  width: 500px;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 75%;
  left: 33%;
}
