.c-Dashboard {
  margin-top: 2px;
  height: 100%;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .c-TopRow {
    height: 50%;
    .c-TopCol-1 {
      background: gainsboro;
      border-color: white;
      border-style: solid;
      padding-left: 0;
      padding-right: 0;
      .c-Filters {
        border-color: gainsboro;
        border-bottom: white;
        border-style: solid;
        height: 10%;
        padding-left: 15px;
        padding-right: 0;
      }
      .c-Cards {
        border-color: gainsboro;
        border-bottom: white;
        border-style: solid;
        height: 25%;
        padding-left: 15px;
        padding-right: 0;
      }
      .c-Charts {
        border-color: gainsboro;
        border-style: solid;
        height: 65%;
        padding-left: 15px;
        padding-right: 0;
      }
    }

    .c-TopCol-2 {
      background: gainsboro;
      border-color: white;
      border-style: solid;
    }
  }
  .c-ButtonRow {
    height: 50%;

    .c-BottomCol-1 {
      background: h=gainsboro;
      background-color: white;
      border-style: solid;
    }
    .c-BottomCol-2 {
      background: h=gainsboro;
      background-color: white;
      border-style: solid;
    }
  }
}
